<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <header>
      <form id="nick" action="" autocomplete="off">
        <input type="text" placehoder="Seu nome de usuario" id="nikk">
        <button type="submit">Subimitar</button>
      </form>
      <script>
        const epe = document.getElementById('nikk');
        document.getElementById('nick').addEventListener('submit', event =>
        {
          event.preventDefault();
          localStorage.setItem('name', epe.value);
        })
      </script>
    </header>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="main.js" type="text/javascript"></script>
  </body>
</html>
