.theme-root,
:root {
 --border-radius-1:1px;
 --border-radius-2:2px;
 --border-radius-4:4px;
 --border-radius-8:8px;
 --border-radius-16:16px;
 --border-radius-default:var(--border-radius-8);
 --border-radius-round:1028px;
 --space-2:2px;
 --space-4:4px;
 --space-8:8px;
 --space-12:12px;
 --space-16:16px;
 --space-24:24px;
 --space-32:32px;
 --space-48:48px;
 --space-64:64px;
 --space-128:128px;
 --space-256:256px;
 --space-default:var(--space-8);
 --shadow-1:0px 4px 8px 0px rgba(2, 2, 3, 0.16);
 --shadow-2:0px 8px 16px 0px rgba(2, 2, 3, 0.32);
 --shadow-3:0px 16px 32px 0px rgba(2, 2, 3, 0.48);
 --shadow-default:var(--shadow-1);
 --font-family-default:'IBM Plex Sans',sans-serif;
 --font-family-code:'IBM Plex Mono',monospace;
 --font-size-small:12px;
 --line-height-small:1.5;
 --font-size-default:14px;
 --line-height-default:1.6;
 --font-size-subhead-default:16px;
 --line-height-subhead-default:1.375;
 --font-size-subhead-big:20px;
 --line-height-subhead-big:1.2;
 --font-size-header-default:24px;
 --line-height-header-default:1;
 --font-size-header-big:32px;
 --line-height-header-big:1;
 --font-weight-regular:400;
 --font-weight-medium:500;
 --font-weight-bold:600;
 --border-width-default:1px;
 --single-line:1;
 --black:#180e25;
 --white:#FCFCFC;
}
.theme-root.dark {
 --background-root:#180e25;
 --background-default:#291c33;
 --background-higher:#372b45;
 --background-highest:#3C445C;
 --background-overlay:#0e1525A0;
 --foreground-default:#F5F9FC;
 --foreground-dimmer:#C2C8CC;
 --foreground-dimmest:#9DA2A6;
 --outline-strongest:#9195A1;
 --outline-stronger:#828899;
 --outline-default:#70788C;
 --outline-default-25:#70788C40;
 --outline-dimmer:#5F677A;
 --outline-dimmest:#4E5569;
 -webkit---accent-primary-dimmest:#004182;
 --accent-primary-dimmest:#004182;
 --accent-primary-dimmer:#0053A6;
 -webkit---accent-primary-default:#0079F2;
 --accent-primary-default:#0079F2;
 --accent-primary-stronger:#57ABFF;
 --accent-primary-strongest:#B2D9FF;
 --accent-positive-dimmest:#044A10;
 -webkit---accent-positive-dimmer:#046113;
 --accent-positive-dimmer:#046113;
 --accent-positive-default:#009118;
 --accent-positive-stronger:#6CD97E;
 --accent-positive-strongest:#BFFFCA;
 --accent-negative-dimmest:#660000;
 -webkit---accent-negative-dimmer:#A60808;
 --accent-negative-dimmer:#A60808;
 --accent-negative-default:#E52222;
 --accent-negative-stronger:#FF6666;
 --accent-negative-strongest:#FFCFCF;
 --accent-red-dimmest:#660000;
 --accent-red-dimmer:#A60808;
 --accent-red-default:#E52222;
 --accent-red-stronger:#FF6666;
 --accent-red-strongest:#FFCFCF;
 --accent-orange-dimmest:#542A00;
 --accent-orange-dimmer:#703800;
 --accent-orange-default:#AD5700;
 -webkit---accent-orange-stronger:#D4781C;
 --accent-orange-stronger:#D4781C;
 --accent-orange-strongest:#FFBD7A;
 --accent-yellow-dimmest:#4D4000;
 --accent-yellow-dimmer:#635300;
 --accent-yellow-default:#967D00;
 -webkit---accent-yellow-stronger:#BFA730;
 --accent-yellow-stronger:#BFA730;
 --accent-yellow-strongest:#F2E088;
 --accent-green-dimmest:#044A10;
 --accent-green-dimmer:#046113;
 --accent-green-default:#009118;
 --accent-green-stronger:#6CD97E;
 -webkit---accent-green-strongest:#7AEB8D;
 --accent-green-strongest:#7AEB8D;
 --accent-teal-dimmest:#004452;
 --accent-teal-dimmer:#006073;
 --accent-teal-default:#0093B0;
 --accent-teal-stronger:#27B9D6;
 --accent-teal-strongest:#69D9F0;
 --accent-blue-dimmest:#004182;
 --accent-blue-dimmer:#0053A6;
 --accent-blue-default:#0079F2;
 --accent-blue-stronger:#57ABFF;
 --accent-blue-strongest:#B2D9FF;
 -webkit---accent-blurple-dimmest:#39298A;
 --accent-blurple-dimmest:#39298A;
 --accent-blurple-dimmer:#5239CC;
 -webkit---accent-blurple-default:#795EFF;
 --accent-blurple-default:#795EFF;
 --accent-blurple-stronger:#A694FF;
 --accent-blurple-strongest:#CEC4FF;
 --accent-purple-dimmest:#582987;
 --accent-purple-dimmer:#7633B8;
 --accent-purple-default:#A64DFF;
 -webkit---accent-purple-stronger:#C78FFF;
 --accent-purple-stronger:#C78FFF;
 --accent-purple-strongest:#E2C4FF;
 -webkit---accent-magenta-dimmest:#6B1A6B;
 --accent-magenta-dimmest:#6B1A6B;
 --accent-magenta-dimmer:#8A218A;
 -webkit---accent-magenta-default:#C73AC7;
 --accent-magenta-default:#C73AC7;
 --accent-magenta-stronger:#F562F5;
 --accent-magenta-strongest:#FFBFFF;
 --accent-pink-dimmest:#6E1B52;
 --accent-pink-dimmer:#8F226B;
 --accent-pink-default:#D4359F;
 --accent-pink-stronger:#FF70CF;
 --accent-pink-strongest:#FFBAE8;
 --accent-grey-dimmest:#404040;
 --accent-grey-dimmer:#545454;
 --accent-grey-default:#808080;
 --accent-grey-stronger:#A6A6A6;
 --accent-grey-strongest:#D4D4D4;
 --accent-brown-dimmest:#594031;
 --accent-brown-dimmer:#75503B;
 --accent-brown-default:#A3765C;
 --accent-brown-stronger:#D49877;
 -webkit---accent-brown-strongest:#FFC8A8;
 --accent-brown-strongest:#FFC8A8;
}
.theme-root.light {
 --background-root:#EBECED;
 --background-default:#FCFCFC;
 --background-higher:#F0F1F2;
 --background-highest:#E4E5E6;
 --background-overlay:#F0F1F2A0;
 --foreground-default:#07080A;
 --foreground-dimmer:#3D4047;
 --foreground-dimmest:#5C5F66;
 --outline-strongest:#74767A;
 --outline-stronger:#98999C;
 --outline-default:#AFB1B3;
 --outline-default-25:#AFB1B340;
 --outline-dimmer:#C0C3C4;
 --outline-dimmest:#D2D4D6;
 -webkit---accent-primary-dimmest:#B2D9FF;
 --accent-primary-dimmest:#B2D9FF;
 --accent-primary-dimmer:#6BB5FF;
 -webkit---accent-primary-default:#0F87FF;
 --accent-primary-default:#0F87FF;
 --accent-primary-stronger:#005CB8;
 --accent-primary-strongest:#004182;
 --accent-positive-dimmest:#7AEB8D;
 -webkit---accent-positive-dimmer:#3CC954;
 --accent-positive-dimmer:#3CC954;
 --accent-positive-default:#00A11B;
 --accent-positive-stronger:#036E15;
 --accent-positive-strongest:#004D0D;
 --accent-negative-dimmest:#FFC7C7;
 -webkit---accent-negative-dimmer:#FF9494;
 --accent-negative-dimmer:#FF9494;
 --accent-negative-default:#FA4B4B;
 --accent-negative-stronger:#C20A0A;
 --accent-negative-strongest:#8A0000;
 --accent-red-dimmest:#FFC7C7;
 --accent-red-dimmer:#FF9494;
 --accent-red-default:#FA4B4B;
 --accent-red-stronger:#C20A0A;
 --accent-red-strongest:#8A0000;
 --accent-orange-dimmest:#FFCC99;
 --accent-orange-dimmer:#FF9933;
 --accent-orange-default:#D96D00;
 -webkit---accent-orange-stronger:#964B00;
 --accent-orange-stronger:#964B00;
 --accent-orange-strongest:#693400;
 --accent-yellow-dimmest:#EBD66E;
 --accent-yellow-dimmer:#CFB015;
 --accent-yellow-default:#A68A00;
 -webkit---accent-yellow-stronger:#736000;
 --accent-yellow-stronger:#736000;
 --accent-yellow-strongest:#4F4200;
 --accent-green-dimmest:#7AEB8D;
 --accent-green-dimmer:#3CC954;
 --accent-green-default:#00A11B;
 --accent-green-stronger:#036E15;
 -webkit---accent-green-strongest:#004D0D;
 --accent-green-strongest:#004D0D;
 --accent-teal-dimmest:#6FE5FC;
 --accent-teal-dimmer:#22C1E0;
 --accent-teal-default:#0093B0;
 --accent-teal-stronger:#00687D;
 --accent-teal-strongest:#004857;
 --accent-blue-dimmest:#B2D9FF;
 --accent-blue-dimmer:#6BB5FF;
 --accent-blue-default:#0F87FF;
 --accent-blue-stronger:#005CB8;
 --accent-blue-strongest:#004182;
 -webkit---accent-blurple-dimmest:#D7CFFF;
 --accent-blurple-dimmest:#D7CFFF;
 --accent-blurple-dimmer:#B2A3FF;
 -webkit---accent-blurple-default:#8E78FF;
 --accent-blurple-default:#8E78FF;
 --accent-blurple-stronger:#5B40E3;
 --accent-blurple-strongest:#412F9C;
 --accent-purple-dimmest:#E6CCFF;
 --accent-purple-dimmer:#D0A1FF;
 --accent-purple-default:#B266FF;
 -webkit---accent-purple-stronger:#7F38C7;
 --accent-purple-stronger:#7F38C7;
 --accent-purple-strongest:#5B278F;
 -webkit---accent-magenta-dimmest:#FFBFFF;
 --accent-magenta-dimmest:#FFBFFF;
 --accent-magenta-dimmer:#FF82FF;
 -webkit---accent-magenta-default:#EB3BEB;
 --accent-magenta-default:#EB3BEB;
 --accent-magenta-stronger:#A321A3;
 --accent-magenta-strongest:#731C73;
 --accent-pink-dimmest:#FFC7EC;
 --accent-pink-dimmer:#FF87D7;
 --accent-pink-default:#F545BA;
 --accent-pink-stronger:#AB2980;
 --accent-pink-strongest:#781E5A;
 --accent-grey-dimmest:#D5D5D5;
 --accent-grey-dimmer:#B0B0B0;
 --accent-grey-default:#898989;
 --accent-grey-stronger:#616161;
 --accent-grey-strongest:#454545;
 --accent-brown-dimmest:#FFC9AB;
 --accent-brown-dimmer:#DEA483;
 --accent-brown-default:#B07F63;
 --accent-brown-stronger:#805740;
 -webkit---accent-brown-strongest:#573E30;
 --accent-brown-strongest:#573E30;
}